<p id="notice"><%= notice %></p>

<h1>参加グループ一覧</h1>

<table>
  <thead>
    <tr>
      <th>グループ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= if @groups = nil %>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.group_name %></td>
          <td><%= link_to '詳細', group %></td>
          <td><%= link_to '編集', edit_group_path(group) %></td>
          <td><%= link_to '削除', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>グループがありません</tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'グループの作成', new_group_path %>
